body{
    margin: 0;
}
.header{
    width:100%; 
    height: 2px;
    background-color:#E5E6CC;
    position: fixed;
    top: 120px;
}
.kontak{
    width: 100%;
    height:30px;
    background-color: #D8E6CC;
}
.log{
    display:flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    margin-top: 25px;
    margin-right: 76px;
    width: auto;
    height: 50px;
}
.login{
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    width: 70px;
    height: 50px;
    font-size: 15px;
}
.daftar{
      border-radius: 5px;
      border-color: transparent;
    background-color:#B4FED0;
    width: 70px;
    height: 50px;
    font-size: 15px;
}