body {
  margin: 0;
}

.header {
  border-bottom: 1px solid #b2b4b4;
  overflow: hidden;
}

.bukur {
  margin: 16px 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 16px;
  gap: 16px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-mid {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  display: flex;
}

.kategori {
  background-color: white;
  border: 1px solid #b2b4b4;
}

#srcbar {
  height: 30px;
  width: 200px;
  border: 1px solid #b2b4b4;
  border-radius: 10px;
}
.box-parent{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.slider{
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 16px;
}

.box-parent h2{
  margin: 0;
  margin-top: 1vh;
  margin-left: 20px;
}

.isi-slide{
  min-width: 160px;
  height: 200px;
  background: #eee;
  border-radius: 12px;
  scroll-snap-align: start;
}


/*--------Inii utk hp---------*/
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-left,
  .nav-center,
  .nav-right {
    justify-content: center;
  }

  .nav-left {
    flex-wrap: wrap;
  }

  .nav-center {
    order: -1;
    margin-bottom: 8px;
  }
  
.isi-slide{
  min-width: 130px;
  height: 163px;
}
}
